{% extends 'base.html.twig' %}

{% block title %}Hello SpaplaisirController!{% endblock %}

{% block body %}
<h1>SPA avec Soin Plaisir</h1>

<div class="bloc-spa">
	<div class="card" style="width: 18rem;">
		<img class='taille_imgspa'src="./spa.jpg" class="card-img-top" alt="...">
		<div class="card-body">
			<h5 class="card-title">Soin visage</h5>
			<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
		</div>
		<ul class="list-group list-group-flush">
			<li class="list-group-item">Soin detente</li>
			<li class="list-group-item">Durée : 30min</li>

		</ul>

	</div>
	<div class="card" style="width: 18rem;">
		<img class='taille_imgspa'src="./spa-detente2.jpg" class="card-img-top" alt="...">
		<div class="card-body">
			<h5 class="card-title">Soin visage</h5>
			<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
		</div>
		<ul class="list-group list-group-flush">
			<li class="list-group-item">Soin detente</li>
			<li class="list-group-item">Durée : 30min</li>

		</ul>

	</div>
	<div class="card" style="width: 18rem;">
		<img class='taille_imgspa' src="./spa-detente3.jpg" class="card-img-top" alt="...">
		<div class="card-body">
			<h5 class="card-title">Soin visage</h5>
			<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
		</div>
		<ul class="list-group list-group-flush">
			<li class="list-group-item">Soin detente</li>
			<li class="list-group-item">Durée : 30min</li>

		</ul>

	</div>
	<div class="card" style="width: 18rem;">
		<img class='taille_imgspa' src="./spa-detente4.jpg" class="card-img-top" alt="...">
		<div class="card-body">
			<h5 class="card-title">Soin visage</h5>
			<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
		</div>
		<ul class="list-group list-group-flush">
			<li class="list-group-item">Soin detente</li>
			<li class="list-group-item">Durée : 30min</li>

		</ul>

	</div>
</div>
{% endblock %}
