{% extends 'base.html.twig' %}

{% block title %}Condition generales | Hotel House{% endblock %}

{% block body %}


<div class="container">
    
    <h1 class="text-center m-4">Les conditions générales</h1>

    <div class="row">

    <h2 class="mt-4">Conditions contractuelles de service et politique de confidentialité</h2>

    <p>Bienvenue sur www.fr.hotelhouse.com, site web appartenant à BravoNext SA (“BravoNext”), siège social Vicolo de’ Calvi 2, 6830 Chiasso, CH (n° d’immatriculation: CHE -115.704.228 et n° de TVA CHE -115.704.228). 

En outre, le Site Internet offre aux Utilisateurs la possibilité de traiter directement les demandes de réservation pour l'achat de différents services de voyage, éliminant ainsi la nécessité de se connecter au Site Internet des fournisseurs du service de voyage choisi. Nous vous demandons de lire attentivement et d'accepter les conditions générales de vente suivantes (les « CGV ») qui régissent les différents services (le(s) « Service(s) ») que BravoNext, les autres sociétés appartenant à hotelhouse.com group, et/ou leurs partenaires mettent à disposition sur www.fr.hotelhouse.com (le « Site Internet »). BravoNext se réserve le droit de modifier les présentes CGV sans préavis lorsque ces modifications sont nécessaires en raison de l'évolution des conditions de marché, de changements dans les cadres juridiques ou réglementaires ou en cas de changement du facteur de risque de BravoNext et/ou en relation avec la fourniture des Services mis à disposition sur le Site Internet par BravoNext, d'autres sociétés appartenant à hotelhouse.com group et/ou leurs partenaires. Si vous souhaitez profiter pleinement du Service et être régulièrement informé(e) de l'actualité relative aux voyages, des vols des compagnies aériennes avec service complet et à bas prix et des autres offres de voyage disponibles, vous pouvez vous inscrire, en saisissant vos informations personnelles complètes et exactes.

Veuillez tenir compte du fait que vous devez accepter les CGV pour accéder au Site Internet et pouvoir l'utiliser. En accédant et/ou en utilisant le Site Internet, vous consentez implicitement aux CGV. </p>
    
    <h2>1. DESCRIPTION DU SERVICE</h2>

    <p>e service de comparaison et de réservation de produits « Vols » et « Train» (si disponible) est fourni par Viaggiare Srl (“Viaggiare”), une société de droit italien appartenant à lastminute.com group, dont le siège social est situé Via Francesco Ferrucci 10, 20145 Milan, Italie, inscrite au registre de la Chambre de commerce de Milan sous le numéro P.IVA IT04403760962 et enregistrée en France sous le numéro de licence d'agence de voyage IM099210005. Viaggiare met à disposition de ses Utilisateurs différents services parmi lesquels les services d'information et de comparaison des vols et train qui consistent à faciliter l'information aux Utilisateurs sur l'existence de vols et train pour des trajets déterminés et sur les compagnies correspondantes, avec la possibilité pour les Utilisateurs de comparer les prix des vols et train choisis. Par ailleurs, Viaggiare offre aux Utilisateurs la possibilité de traiter directement leur demande de réservation pour acheter les vols ou des trains et, le cas échéant, les services supplémentaires, accessoires et/ou additionnels  proposés sur le Site Internet à travers une application web sans avoir besoin de contacter le Site Internet de la compagnie aérienne/compagnie ferroviaire ou des compagnies tierces qui ont le même vol ou train ou qui offrent un service choisi à travers une application web. Viaggiare agit en tant qu'intermédiaire entre l'Utilisateur et la compagnie aérienne/compagnie ferroviaire pour la conclusion du contrat de transport demandé par cette dernière. Le contrat de transport est donc conclu uniquement et directement entre l'Utilisateur et la compagnie aérienne/compagnie ferroviaire. Par conséquent, Viaggiare n'est en aucun cas responsable de la fourniture du service de transport demandé. En tant qu'intermédiaire, Viaggiare est par ailleurs responsable de tout manquement qu'elle commet dans l'exécution de ses obligations en tant qu'intermédiaire de voyages et, par conséquent, en cas de manquement, l'Utilisateur peut soumettre la plainte correspondante directement à Viaggiare. En cas d'assistance pré et post-contractuelle relative au service d'intermédiation du produit « Vols » et « Train »  , l'Utilisateur peut contacter Viaggiare qui, aux fins de traitement de la demande - si possible - constituera l'interface, au nom et pour le compte de l'Utilisateur, avec la compagnie aérienne/compagnie ferroviaire concernée. En cas de plainte concernant le service de transport, l'Utilisateur doit contacter directement la compagnie aérienne/compagnie ferroviaire sans préjudice du droit de contacter Viaggiare qui, si possible, transmettra les plaintes correspondantes à la compagnie aérienn/compagnie ferroviaire au nom et pour le compte du compte de l'Utilisateur. Cliquez ici pour consulter les conditions de réservation des billets</p>
    </div>

    <h2>2. UTILISATION DU SITE INTERNET - BONS DE COMMANDE</h2>

    <p>L'Utilisateur peut visiter librement le Site Internet et utiliser ses fonctionnalités à des fins personnelles et non commerciales. En effectuant une recherche dans le moteur de recherche et en effectuant des réservations ou en traitant des commandes, l'Utilisateur reconnaît et déclare qu'il agit à titre purement personnel.

Lors de la recherche ou du traitement des réservations et/ou des commandes, l'Utilisateur utilise l'application web au moyen d'une licence non exclusive et temporaire, accordée pour la durée de l'opération. Cette application web permet à l'Utilisateur de traiter facilement et directement ses demandes sans avoir à établir une connexion parallèle supplémentaire avec le Site Internet du fournisseur du service que l'Utilisateur souhaite réserver.

L'Utilisateur n'est pas autorisé à modifier, réutiliser, copier, distribuer, transmettre, reproduire, publier, octroyer une licence ou une utilisation, créer des tâches ou des emplois dérivés, transférer ou vendre ou, en tout cas, faire un usage commercial ou un usage qui n'est pas de nature personnelle des informations, des nouvelles, du contenu, des logiciels et des systèmes, ou des produits obtenus ou mis à la disposition de l'Utilisateur par le biais du Site Internet et de l'utilisation du Service.

Pour pouvoir utiliser les fonctions du Site Internet, l'Utilisateur doit disposer d'une connexion Internet, qu'il doit se procurer à ses frais auprès d'un fournisseur fiable. BravoNext n'est pas responsable des dommages occasionnés au matériel de l'Utilisateur résultant, directement ou indirectement, de la connexion Internet.</p>

<h2>3. RÈGLES DE CONDUITE</h2>

<p>L'Utilisateur s'engage à utiliser le Site Internet, ses fonctions et le Service à des fins licites et conformément aux présentes CGV. Plus particulièrement, l'Utilisateur s'engage à ne pas envoyer ou diffuser, par le biais de le Site Internet et de ses fonctions, des contenus illicites, diffamatoires, vulgaires, obscènes, abusifs ou dérangeants ni à utiliser le Site Internet et ses fonctions pour accomplir tout acte qui pourrait nuire à l'image et à la réputation de BravoNext ou entraîner toute autre perte ou tout autre dommage à BravoNext.

En outre, l'Utilisateur s'engage à ne pas envoyer de matériel publicitaire, de communications indésirables et/ou non sollicitées qui pourraient interférer avec la fonctionnalité de le Site Internet par des tiers.</p>


<h2>4. PROPRIÉTÉ INTELLECTUELLE</h2>

<p>L'Utilisateur reconnaît et admet que toutes les informations, données, logiciels, contenus, musiques, sons, photographies et images, vidéos et tout autre contenu du Site Internet (le « Contenu ») sont la propriété exclusive de BravoNext et de ses détenteurs de licence.

À l'exception de l'utilisation de l'application comme indiqué dans la section 3, l'Utilisateur n'acquiert aucun droit sur le Contenu et/ou le Site Internet, le seul droit étant celui d'utiliser le Site Internet conformément aux présentes CGV.

L'Utilisateur est autorisé à imprimer et/ou à télécharger le Contenu (y compris les CGV) uniquement pour son usage personnel.</p>

</div>

{% endblock %}
