{% extends 'base.html.twig' %}

{% block title %}Plan du site | Hotel House
{% endblock %}

{% block body %}


	<div class="plan">


		<h1 h1 class="text-center m-4">Le plan du site</h1>

		<div class="container text-center">
			<div class="row align-items-start">
				<div class="col-4">
					<h3>Chambres</h3>
					<ul class="list-unstyled">
						<li><a href="">Chambre classique</a></li>
						<li><a href="">Chambre confort</a></li>
						<li><a href="">La suite</a></li>
					</ul>
				</div>
				<div class="col-4">
					<h3>Restaurants</h3>
					<ul class="list-unstyled">
						<li><a href="">Carte brasserie</a></li>
						<li><a href="">Carte dégustation</a></li>
						<li><a href="">Carte restaurant</a></li>
					</ul>
				</div>
				<div class="col-4">
					<h3>Le spa</h3>
					<ul class="list-unstyled">
						<li><a href="">Spa avec soin détente</a></li>
						<li><a href="">Spa avec soin relaxant</a></li>
						<li><a href="">Spa avec soin plaisir</a></li>
					</ul>
				</div>
				<div class="col-4">
					<h3>Avis</h3>
					<ul class="list-unstyled">
						<li><a href="">Les avis</a></li>
					</ul>
				</div>
				<div class="col">
					<h3>L'hotel</h3>
					<ul class="list-unstyled">
						<li><a href="">Qui somme-nous</a></li>
						<li><a href="">Acces</a></li>
						<li><a href="">Contact</a></li>
					</ul>
				</div>
				<div class="col">
					<h3>Autres</h3>
					<ul class="list-unstyled">
						<li><a href="">Actualités</a></li>
						<li><a href="">Contact</a></li>
					</ul>
				</div>

			</div>
		</div>
	</div>
{% endblock %}
