{% extends 'base.html.twig' %}

{% block title %}Hello SparelaxantController!{% endblock %}

{% block body %}
<h1>SPA avec Soin Relaxant</h1>

<div class="bloc-spa">
	<div class="card" style="width: 18rem;">
		<img class='taille_imgspa'src="./spa.jpg" class="card-img-top" alt="...">
		<div class="card-body">
			<h5 class="card-title">Le massage ayurvédique</h5>
			<p class="card-text">Originaire de l'Ayurveda en Inde, le massage ayurvédique se focalise surtout sur le dos et sur la stimulation des 7 chakras pour répartir l'énergie dans le corps du béénficiaire. Ce massage est excellent pour se libérer des tensions nerveuses et éliminer les toxines de l'organisme. De part ses vertues énergisantes, le massage ayurvédique est aussi bénéfique pour les personnes souffrant d'un manque de concentraton ou d'insomnies.</p>
		</div>
		<ul class="list-group list-group-flush">
			<li class="list-group-item">Soin relaxant</li>
			<li class="list-group-item">Durée : 30min</li>

		</ul>

	</div>
	<div class="card" style="width: 18rem;">
		<img class='taille_imgspa'src="./spa_relaxant2.jpg" class="card-img-top" alt="...">
		<div class="card-body">
			<h5 class="card-title">Le massage suédois</h5>
			<p class="card-text">Le massage suédois ou massage sportif est un massage bien-être pratiqué régulièrement. Le massage suédois raffermit les muscles. Il permet de détendre et de relaxer les muscles douloureux, il se focalise également sur les tendons et articulations. C'est donc un massage idéal lorsque vous souffrez de courbatures ! </p>
		</div>
		<ul class="list-group list-group-flush">
			<li class="list-group-item">Soin relaxant</li>
			<li class="list-group-item">Durée : 60min</li>

		</ul>

	</div>
	<div class="card" style="width: 18rem;">
		<img class='taille_imgspa' src="./spa_relaxant3.jpg"class="card-img-top" alt="...">
		<div class="card-body">
			<h5 class="card-title">Le massage amma assis </h5>
			<p class="card-text">Le massage amma assis est un massage d'une très courte durée. Il est réalisé sur une chaise spécialement prévue pour ce massage. Le massage amma assis est souvent offert dans des lieux très fréquentés tels que les centres commerciaux ou encore dans les entreprises afin de procurer une détente insantanée aux salariés stressés ou surbookés, notamment lors de leur pause déjeuner. Quelques minutes suffisent pour délier les muscles du haut du corps de ses bénéficiaire.</p>
		</div>
		<ul class="list-group list-group-flush">
			<li class="list-group-item">Soin relaxant</li>
			<li class="list-group-item">Durée :15min</li>

		</ul>

	</div>
	<div class="card" style="width: 18rem;">
		<img class='taille_imgspa' src="./spa_relaxant4.jpg" class="card-img-top" alt="...">
		<div class="card-body">
			<h5 class="card-title"> La réfléxologie </h5>
			<p class="card-text">La réfléxologie est une méthode qui agit par points de pression. La réfléxologie favorise la relaxation, prévient le stress et stimule les fonctions d'autorégulation grâce à un toucher de zones "réflexes" . La réfléxologie a de nombreux bienfaits concernant le stress, les troubles du sommeil, les troubles du comportement, les troubles disgestifs ou encore les troubles cutané.</p>
		</div>
		<ul class="list-group list-group-flush">
			<li class="list-group-item">Soin detente</li>
			<li class="list-group-item">Durée : 30min</li>

		</ul>

	</div>
</div>
{% endblock %}
