body {
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
}

html, body {
    height: 100%;
}

.content {
    flex-grow: 1;
}

.hotel{
    width: 100vw;
    object-fit: cover;
}

.hauteur{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 200vh;
    padding: 10px;
}
.bloc-spa{
    display: flex;
    justify-content: space-around;
}

.taille_imgspa{
    width: 286px;
    height: 200px;

}