body {
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
}

html, body {
    height: 100%;
}

.content {
    flex-grow: 1;
}

.hotel{
    width: 100vw;
    object-fit: cover;
}