{% extends 'base.html.twig' %}

{% block title %}Hello SpadetenteController!
{% endblock %}

{% block body %}
	<h1>SPA avec Soin Détente</h1>

<div class="bloc-spa">
	<div class="card" style="width: 18rem;">
		<img class='taille_imgspa'src="./spa.jpg" class="card-img-top" alt="...">
		<div class="card-body">
			<h5 class="card-title">Soin visage fondamental</h5>
			<p class="card-text">Soin visage fraîcheur Sothys Organics certifié biologique avec gommage et masque modelage du visage et du cuir chevelu..</p>
		</div>
		<ul class="list-group list-group-flush">
			<li class="list-group-item">Soin detente</li>
			<li class="list-group-item">Durée : 30min</li>

		</ul>

	</div>
	<div class="card" style="width: 18rem;">
		<img class='taille_imgspa'src="./spa-detente2.jpg" class="card-img-top" alt="...">
		<div class="card-body">
			<h5 class="card-title">Massage californien</h5>
			<p class="card-text">Le massage californien associe des techniques de tapotements, de pétrissage, d'effleurement et de frictions. Il favorise la détente du corps et apise les tensions psychiques. Le massage californien s'avère être une excellente pratique pour combatre le stress, il apaise aussi bien le corps que l'esprit.</p>
		</div>
		<ul class="list-group list-group-flush">
			<li class="list-group-item">Soin detente</li>
			<li class="list-group-item">Durée : 45min</li>

		</ul>

	</div>
	<div class="card" style="width: 18rem;">
		<img class='taille_imgspa' src="./spa-detente3.jpg" class="card-img-top" alt="...">
		<div class="card-body">
			<h5 class="card-title">Massage balinais</h5>
			<p class="card-text">Le massage balinais est fondé sur 3 éléments : l'air, l'eau et le feu. En pratique il demande l'utilisation d'une importante quantité d'huile. C'est une incroyable massage dépaysant etet l'un des meilleurs massages exotiques existant. Le massage balinais tonifie le corps entier : il agit à la fois sur le systèm nerveux, le système homonal et le système digestif. Le massage balinais aide à dénouer les contractions et douleurs musculaires. De plus, il favorise la circulation sanguine. .</p>
		</div>
		<ul class="list-group list-group-flush">
			<li class="list-group-item">Soin detente</li>
			<li class="list-group-item">Durée :60min</li>

		</ul>

	</div>
	<div class="card" style="width: 18rem;">
		<img class='taille_imgspa' src="./spa-detente4.jpg" class="card-img-top" alt="...">
		<div class="card-body">
			<h5 class="card-title">Le massage du visage japonais </h5>
			<p class="card-text">Le massage du visage japonais est très apprécié des épidermes matures. Il rafraîchit les traits, donne de l'éclat à la peau et efface les effets du stress. Un pratique régulière du massage du visage japonais ralentit le vieillissement cutané, stimule la circulation sanguine et lymphatique, réoxygène l'épiderme et améliore le grain de peau, diminue rides, poches et cernes et détend les muscles du visage et de la nuque et apporte une profonde relaxation. .</p>
		</div>
		<ul class="list-group list-group-flush">
			<li class="list-group-item">Soin detente</li>
			<li class="list-group-item">Durée : 30min</li>

		</ul>

	</div>
</div>

{% endblock %}
